@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&,family=Inter:wght@600&display=swap');

:root {
  --primary: #1f1f84;
  --solid-grey-100: #7b7b85;
  --black: #000000;
  --solid-dark-200: #12121E;
  --white-color: #fff;
  --body-bg-color: #010103;
}

/*
===============================
Global CSS START
===============================
*/

body {
  color: var(--solid-grey-100);
  font-size: 16px;
  font-weight: 300;
  line-height: 24.48px;
  letter-spacing: -0.64px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--body-bg-color);
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-out 0s;
  display: block;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--white-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-weight: 600;
  text-transform: normal;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  background: var(
    --gradient-gradient-1,
    linear-gradient(139deg, #fff7e1 16.13%, #e0e0e0 73.09%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 40px; 
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1360px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

/*
============================
Main Btn Style Start
===========================
*/

.site-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px;
  cursor: pointer;
  display: inline-block;
  color: var(--white-color);
  background-color: var(--primary);
  transition: 0.3s all ease;
  border-radius: 4px;
  letter-spacing: -0.14px;
}

.site-btn:hover {
  color: var(--white-color);
}

.header-primary-btn .site-btn {
  padding: 10px 28px;
}

/*
==========================
Main Btn Style End
==========================
*/

#page {
  overflow: hidden;
}

.sec-subtitle {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  display: block;
}

.gradient-line {
  position: absolute;
  z-index: -1;
}

.gradient-line.line-1 {
  top: 35px;
  left: 20%;
}

.gradient-line.line-2 {
  bottom: 20%;
  left: 6%;
}

/*
============================
Global CSS END
============================
*/

/*
============================
Header Section Start
============================
*/

.main-header {
  padding: 30px 0;
  position: relative;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu ul li {
  display: inline-block;
  margin: 0 30px;
}

.main-menu ul li a {
  color: var(--white-color);
  font-size: 14px;
  display: block;
  font-weight: 500;
  letter-spacing: -0.14px;
  font-family: IBM Plex Sans;
  transition: 0.3s all ease;
}

.main-menu ul li:hover a {
  color: var(--solid-grey-100);
}

.hamburger {
  display: none;
  cursor: pointer;
}
/*
============================
Header Section  End
============================
*/

/*
============================
Banner Section Start
============================
*/

.shape-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.banner-wrapper {
  margin-top: 72px;
}

.banner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.banner-list {
  margin-bottom: 24px;
}

.banner-list li {
  color: var(--white-color);
  font-size: 18px;
  cursor: pointer;
  font-style: italic;
  position: relative;
  display: inline-block;
  margin: 0 28px;
}

.banner-list img {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
}

.banner-list li::after {
  content: "/";
  position: absolute;
  right: -34px;
  color: var(--solid-grey-100);
}

.banner-list li:last-child:after {
  display: none !important;
}

.banner-item span {
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 35px;
}

.banner-cars {
  margin-top: 10px;
  z-index: -1;
}
/*
============================
Banner Section End
============================
*/

/*
============================
How It Works Section Start
============================
*/
.how-it-work-wrapper {
  padding-top: 50px;
  padding-bottom: 100px;
}

.how-it-work-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
}

.how-it-work-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 181px;
  max-width: 304px;
}

.how-it-work-service li {
  border-radius: 25px;
  border: 1px solid var(--solid-dark-300, #18182d);
  background: var(--solid-dark-200, #12121e);
  backdrop-filter: blur(2px);
  padding: 8px 16px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--white-color);
}

.how-it-work-list-item {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.how-it-work-list-title {
  display: flex;
  gap: 32px;
  flex: 1 0 0;
}

.how-it-work-list-title span {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  margin-top: 5px;
  margin-right: 10px;
}

.how-it-work-list-title h4 {
  font-weight: 500;
  letter-spacing: -0.96px;
  margin-right: 65px;
}

.how-it-work-list-content p {
  max-width: 318px;
  flex-shrink: 0;
}

/*
============================
How It Works Section End
============================
*/

/*
============================
Our Fleet Section Start
============================
*/

.our-fleet-wrapper {
  padding-bottom: 72px;
}

.our-fleet-box {
  border-radius: 48px;
  background: var(
    --gradient-gradient-2,
    linear-gradient(180deg, #0e0e26 0%, rgba(10, 10, 30, 0) 100%)
  );
  padding: 72px 96px;
  position: relative;
  z-index: 2;
}

.our-fleet-box:after {
  content: "";
  position: absolute;
  right: 0;
  width: 764px;
  height: 384px;
  background-image: url(assets/images/color-blur.png);
  top: 0;
  border-radius: 48px;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.our-fleet-title div {
  display: flex;
  align-items: center;
  gap: 56px;
}

.our-fleet-title {
  margin-bottom: 56px;
}

.fleet-cars-info div {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.cars-price h4 span {
  color: var(--solid-grey-100) !important;
}

.fleet-cars-info p {
  font-size: 16px;
  line-height: 153%;
  margin-top: 20px;
}

.cars-model-list {
  margin-top: 30px;
}

.cars-model-list li {
  color: var(--white-color);
  font-size: 14px;
  position: relative;
  margin-bottom: 6px;
}

.cars-model-list li span {
  color: var(--solid-grey-100);
}

.cars-model-list li::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(assets/images/fleet-list-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  margin-right: 10px;
}

.cars-slide-active {
  margin-top: 50px;
}

.cars-slide-item {
  position: relative;
}

.cars-slide-active .slick-slide div {
  margin-right: 20px;
}

.cars-img img {
  width: 100%;
}

.cars-content {
  position: absolute;
  top: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
}

.cars-content span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--white-color);
  position: absolute;
  bottom: 24px;
}

/*
============================
Our Fleet Section End
============================
*/

/*
================================
Luxurious About Section Start
================================
*/

.luxurious-about-wrapper {
  padding-top: 176px;
  padding-bottom: 126px;
  position: relative;
  z-index: 2;
  min-height: 778px;
}

.about-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.luxurious-about-content h2 {
  font-style: italic;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: -2.24px;
  line-height: 1.4;
}

.luxurious-about-content h2:first-child {
  max-width: 536px;
}

.luxurious-about-content h2:last-child {
  max-width: 427px;
  margin-top: 40px;
  margin-left: 312px;
}

.luxurious-about-img {
  position: absolute;
  right: 0;
  top: 70px;
  z-index: -1;
}
/*
================================
Luxurious About Section End
================================
*/

/*
=========================
HQ Forom Section Start
=========================
*/

.form-wrapper {
  margin-top: 40px;
  position: relative;
}

.form-item h3 {
	font-family: 'Inter', sans-serif;
}

.form-wrapper:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #a0ccff;
  filter: blur(0px);
  content: "";
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  background: rgba(0, 148, 255, 0.8);
  mix-blend-mode: hard-light;
}

.form-bg-wrap {
  border-radius: 24px;
  background: var(--solid-dark-300, #18182d);
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
=========================
HQ Forom Section End
=========================
*/

/*
=============================
About Company Section Start
==============================
*/
.about-company-wrapper .container {
  display: flex;
  align-items: center;
  width: 100%;
}
.about-content {
  max-width: 480px;
  margin-left: -30px;
}

.about-content .sec-subtitle {
  margin-bottom: 6px;
}

.about-content h2 {
  line-height: 52.8px;
}

.about-content p {
  line-height: 23.2px;
  max-width: 480px;
}

.about-content p a {
  color: var(--solid-grey-100);
  text-decoration: underline;
}

.about-bottom {
  margin-top: 40px;
}

/*
=============================
About Company Section End
==============================
*/

/*
=============================
Testimonial Section Start
==============================
*/
.testimonials-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonials-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.testimonials-title .sec-subtitle {
  margin-bottom: 15px;
}

.testimonials-item {
  border-radius: 16px;
  background: var(--solid-blue-navy-100, #232341);
  padding: 40px;
}
.testimonials-slide {
  margin-top: 58px;
}

.testimonials-item {
  border-radius: 16px;
  background: var(--solid-blue-navy-100, #232341);
  padding: 40px;
}

.testimonials-slide {
  margin-top: 58px;
}

.testimonials-content h4 {
  margin-bottom: 15px;
}

.testimonials-content p {
  font-size: 14px;
  line-height: 1.4;
}

.testimonials-author {
  margin-top: 24px;
}

.testimonials-author h5 {
  font-size: 18px;
  margin-bottom: 8px;
}

.testimonials-author span {
  font-size: 14px;
  color: var(--white-color);
  opacity: 0.5;
}

.testimonials-slide .slick-slide div {
  margin-right: 15px;
}
/*
=============================
Testimonial Section End
==============================
*/

/*
====================================
Frequently-Ouestions-Section-Start
=====================================
*/

.frequently-questions-wrapper {
	padding-top: 136px;
	padding-bottom: 0;
	background-size: cover;
	background-position: center;
	background-color: #000;
}

.frequently-questions-box {
  border-radius: 48px;
  background: var(
    --gradient-gradient-2,
    linear-gradient(180deg, #0e0e26 0%, rgba(10, 10, 30, 0) 100%)
  );
  padding: 88px 96px;
  position: relative;
  z-index: 2;
}

.frequently-questions-box:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 764px;
  height: 305px;
  background-image: url(assets/images/color-blur-2.png);
  background-size: cover;
  background-position: center;
  border-radius: 48px;
  z-index: -1;
}

.frequently-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.frequently-content .sec-subtitle {
  margin-bottom: 15px;
}

.frequently-content h2 {
  line-height: 52.8px;
  margin-bottom: 24px;
}

.frequently-content p {
	margin-bottom: 48px;
	max-width: 224px;
}

.frequently-content .site-btn {
  padding: 12px 24px;
}

.frequently-content .site-btn svg {
  margin-left: 8px;
}

.accordion {
	max-width: 480px;
	margin-left: auto;
}

.accordion-content {
  max-width: 600px;
}

.accordion-box {
	border-bottom: 1px solid #232341;
	margin-bottom: 24px;
	padding-bottom: 24px;
}

.accordion-box:nth-child(5) {
	border-bottom: 0;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  cursor: pointer;
}

.accordion-title.active img {
  transform: rotateZ(-180deg);
}

.accordion-title h5 {
  letter-spacing: -0.2px;
}

.accordion-content {
  display: none;
}

.accordion-content p {
  line-height: 23px;
} 

.accordion-box span img {
	max-width: initial;
}

/*
====================================
Frequently-Ouestions-Section-End
=====================================
*/

/*
============================
Footer Section Start
============================
*/

.footer-wrapper {
  background-color: var(--solid-dark-200);
  padding: 50px 0;
  position: relative;
  z-index: 2;
}

.footer-wrapper:after {
  position: absolute;
  content: "";
  width: 764px;
  height: 305px;
  border-radius: 1000px;
  opacity: 0.4;
  background: linear-gradient(269deg, #232428 0%, #2E428E 29.69%, #1553CA 51.56%, #1E043E 69.88%, #9073E3 100%);
  filter: blur(80px);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.footer-menu ul {
  display: flex;
  gap: 40px;
}

.footer-menu ul li a {
  color: var(--white-color);
  display: block;
  font-size: 14px;
}

.social-links a {
  color: var(--white-color);
}

.social-links {
  display: flex;
  gap: 8px;
}

/*
============================
Footer Section End
============================
*/

/*
============================
Responsive Style Start
============================
*/

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1252px;
  }
}

/* -----Laptop--device-screen--------- */
@media only screen and (max-width: 1199px) {
  .how-it-work-list-item {
    gap: 0;
  }

  .how-it-work-list-title h4 {
    margin-right: 45px;
  }

  .how-it-work-list-title {
    gap: 20px;
  }

  .cars-content {
    padding: 20px;
  }

  .our-fleet-box {
    padding: 55px 60px;
  }

  .gradient-line.line-2 {
    left: 0;
  }

  .luxurious-about-content h2:first-child {
    max-width: 420px;
  }
}

/* -----Tablet--device-screen--------- */
@media only screen and (max-width: 991px) {
  .main-menu ul li {
    margin: 0px 7px;
  }

  .banner-cars {
    margin-top: 50px;
  }

  .how-it-work-wrap {
    display: initial;
  }

  .how-it-work-left {
    gap: 80px;
    max-width: 100%;
  }

  .how-it-work-service li {
    padding: 5px 26px;
    margin-right: 4px;
  }

  .how-it-work-right {
    margin-top: 30px;
  }

  .how-it-work-right {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
  }

  .how-it-work-list-item {
    display: initial;
    width: 31%;
  }

  .how-it-work-list-title {
    display: initial;
    gap: 32px;
    flex: 1 0 0;
  }

  .how-it-work-list-title h4 {
    margin-right: 0;
    margin-top: 12px;
  }

  .how-it-work-list-title h4 br {
    display: none;
  }

  .how-it-work-list-title h4,
  .how-it-work-list-title span {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .our-fleet-box .sec-subtitle {
    margin-bottom: 16px;
  }

  .our-fleet-title {
    margin-bottom: 46px;
  }

  .our-fleet-title div {
    justify-content: space-between;
  }

  .fleet-cars-image img {
    width: 100%;
  }

  .fleet-cars-info {
    margin-top: 48px;
  }

  .luxurious-about-content h2:first-child,
  .luxurious-about-content h2:last-child {
    max-width: 100%;
    margin: 0;
    line-height: 1.2;
  }

  .luxurious-about-content {
    max-width: 480px;
  }

  .luxurious-about-content h2:last-child {
    margin-top: 0;
    margin-left: 0;
  }

  br {
    display: none;
  }

  .form-bg-wrap {
    height: 520px;
  }

  .about-company-wrapper .container {
    flex-wrap: wrap;
  }

  .about-content {
    margin-left: 0;
  }

  .frequently-questions-box {
    padding: 56px 48px;
  }

  .accordion {
    max-width: 595px;
    margin-left: 0;
  }

  .accordion-content {
    max-width: 576px;
  }

  .frequently-content .sec-subtitle {
    font-size: 18px;
  }

  .frequently-content p {
    max-width: 100%;
  }


}

/* -----Mobile--device-screen--------- */
@media only screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .main-menu ul {
    position: absolute;
    left: -100%;
    top: 100%;
    width: 100%;
    z-index: 9;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 4px 4px 24px 24px;
    background: linear-gradient(180deg, #010103 0%, #0d0d1e 100%);
    box-shadow: 0px 16px 48px 0px rgba(1, 1, 3, 0.32);
    transition: 0.3s all ease;
    padding: 5px 20px 40px 20px;
  }

  .main-menu ul.active {
    left: 0;
  }

  .main-menu ul li a {
    font-size: 16px;
  }

  .main-menu ul li {
    border-bottom: 1px solid #232341;
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  .header-primary-btn .site-btn {
    display: block;
    font-size: 16px;
  }

  .banner-list li {
    margin: 0 14px;
    font-size: 14px;
  }

  .banner-list li::after {
    right: -18px;
  }

  .banner-item span {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .how-it-work-left {
    gap: 64px;
  }

  .how-it-work-right {
    margin-top: 32px;
  }

  .how-it-work-list-item {
    display: flex;
    width: 100%;
    gap: 25px;
  }

  .our-fleet-wrapper {
    padding-bottom: 10px;
  }

  .our-fleet-box {
    padding: 40px 20px;
  }

  .our-fleet-box::after {
    width: 100%;
    background-position: center left;
  }

  .our-fleet-title div {
    gap: 16px;
    flex-wrap: wrap;
  }

  .our-fleet-box .sec-subtitle {
    margin-bottom: 12px;
  }

  .cars-price {
    margin-top: 16px;
  }

  .fleet-cars-info div {
    display: initial;
  }

  .luxurious-about-wrapper {
    min-height: 0;
  }

  .luxurious-about-content h2 {
    font-size: 24px;
  }

  .luxurious-about-content h2:first-child,
  .luxurious-about-content h2:last-child {
    max-width: 300px;
  }

  .frequently-questions-box::before {
    width: 100%;
  }

  .frequently-content h2 {
    line-height: 35px;
    margin-bottom: 20px;
  }

}

/*
 ============================
 Responsive Style End
 ============================
*/
